.home-page {
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 2px;
}

.chartbox {
  width: 800px;
  height: 400px;
  padding: 8px;
  margin: 10px auto;
  box-sizing: border-box;
}
